In [1]:
!pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/52/3f/f6a428599e0d4497e1595030965b5ba455fd8ade6e977e3c819973c4b41d/pandas-0.25.3-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Collecting numpy>=1.13.3
  Downloading https://files.pythonhosted.org/packages/62/20/4d43e141b5bc426ba38274933ef8e76e85c7adea2c321ecf9ebf7421cedf/numpy-1.18.1-cp36-cp36m-manylinux1_x86_64.whl (20.1MB)
     |████████████████████████████████| 20.2MB 133kB/s eta 0:00:01     |████████████████████▏           | 12.7MB 1.0MB/s eta 0:00:08     |███████████████████████▍        | 14.7MB 1.1MB/s eta 0:00:06
Requirement already satisfied: six>=1.5 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.18.1 pandas-0.25.3 pytz-2019.3

In [2]:
import pandas as pd

In [3]:
numeros = pd.Series([1, 2, 3, 4, 5])

In [4]:
numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
numeros[0]

1

In [7]:
numeros = pd.Series([3, 7, 10, 1, 2, 8])

In [8]:
numeros.describe()

count     6.000000
mean      5.166667
std       3.656045
min       1.000000
25%       2.250000
50%       5.000000
75%       7.750000
max      10.000000
dtype: float64

In [9]:
numeros.index

RangeIndex(start=0, stop=6, step=1)

In [10]:
numeros.index = [10, 20, 30, 40, 50, 60]

In [11]:
numeros

10     3
20     7
30    10
40     1
50     2
60     8
dtype: int64

In [12]:
numeros[10]

3

In [13]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [14]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df.columns = ['Coluna 1', 'Coluna 2', 'Coluna 3']

In [16]:
df

   Coluna 1  Coluna 2  Coluna 3
0         1         2         3
1         4         5         6
2         7         8         9

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.iloc[0]

Coluna 1    1
Coluna 2    2
Coluna 3    3
Name: 0, dtype: int64

In [19]:
df.iloc[1]

Coluna 1    4
Coluna 2    5
Coluna 3    6
Name: 1, dtype: int64