In [1]:
!pip install dataset

Collecting dataset
  Using cached https://files.pythonhosted.org/packages/d5/02/a4c77a15d004f1307a579e577974fa9292a63e93abff3e40ad993cf597c7/dataset-1.1.2-py2.py3-none-any.whl
Requirement already satisfied: six>=1.11.0 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from dataset) (1.13.0)
Collecting alembic>=0.6.2
  Downloading https://files.pythonhosted.org/packages/dc/6d/3c1411dfdcf089ec89ce5e2222deb2292f39b6b1a5911222e15af9fe5a92/alembic-1.3.2.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 667kB/s eta 0:00:01
Collecting sqlalchemy>=1.1.2
  Downloading https://files.pythonhosted.org/packages/17/7f/35879c73859368ad19a952b69ee780aa97fc30350dabd45fb948d6a4e3ea/SQLAlchemy-1.3.12.tar.gz (6.0MB)
     |████████████████████████████████| 6.0MB 588kB/s eta 0:00:01
Processing /home/gileno/.cache/pip/wheels/98/32/7b/a291926643fc1d1e02593e0d9e247c5a866a366b8343b7aa27/Mako-1.1.0-cp36-none-any.whl
Collecting python-editor>=0.3
  Using cached https://files.pythonhosted.org/packages/c6/d3/201fc3abe391bbae6606e6f1d598c15d367033332bd54352b12f35513717/python_editor-1.0.4-py3-none-any.whl
Requirement already satisfied: python-dateutil in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from alembic>=0.6.2->dataset) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from Mako->alembic>=0.6.2->dataset) (1.1.1)
Building wheels for collected packages: alembic, sqlalchemy
  Building wheel for alembic (setup.py) ... done
  Created wheel for alembic: filename=alembic-1.3.2-py2.py3-none-any.whl size=151128 sha256=963d3efa97c56654c7fd4cc8b1a39e124bd2b3d87ea9895680899531d6653a6a
  Stored in directory: /home/gileno/.cache/pip/wheels/5c/66/53/e0633382ac8625ab1c099db6a290d1b6b24f849a4666a57105
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.12-cp36-cp36m-linux_x86_64.whl size=1213450 sha256=808bd796cb9f46ca0699acc986876f541983009159447efab69da27f95104df6
  Stored in directory: /home/gileno/.cache/pip/wheels/ee/33/44/0788a6e806866ae2e246d5cd841d07498a46bcb3f3c42ea5a4
Successfully built alembic sqlalchemy
Installing collected packages: sqlalchemy, Mako, python-editor, alembic, dataset
Successfully installed Mako-1.1.0 alembic-1.3.2 dataset-1.1.2 python-editor-1.0.4 sqlalchemy-1.3.12

In [5]:
import dataset

In [6]:
banco = dataset.connect('sqlite:///db.sqlite3')

In [7]:
info = {
    'nome': 'fulano',
    'email': 'f@f.com',
    'telefone': '81 99999.9999'
}

In [8]:
banco['contatos'].insert(info)

1

In [9]:
infos = banco['contatos'].find()

In [10]:
for info in infos:
    print(info)

OrderedDict([('id', 1), ('nome', 'fulano'), ('email', 'f@f.com'), ('telefone', '81 99999.9999')])

In [11]:
info = {
    'nome': 'sicrano',
    'email': 's@s.com',
    'telefone': '81 99999.9999'
}

In [12]:
banco['contatos'].insert(info)

2

In [13]:
infos = banco['contatos'].find()
for info in infos:
    print(info)

OrderedDict([('id', 1), ('nome', 'fulano'), ('email', 'f@f.com'), ('telefone', '81 99999.9999')])
OrderedDict([('id', 2), ('nome', 'sicrano'), ('email', 's@s.com'), ('telefone', '81 99999.9999')])

In [14]:
info = {
    'nome': 'joao',
    'email': 'j@j.com',
    'telefone': '81 99999.9999',
    'celular': '00000000000'
}
banco['contatos'].insert(info)

3

In [15]:
infos = banco['contatos'].find()
for info in infos:
    print(info)

OrderedDict([('id', 1), ('nome', 'fulano'), ('email', 'f@f.com'), ('telefone', '81 99999.9999'), ('celular', None)])
OrderedDict([('id', 2), ('nome', 'sicrano'), ('email', 's@s.com'), ('telefone', '81 99999.9999'), ('celular', None)])
OrderedDict([('id', 3), ('nome', 'joao'), ('email', 'j@j.com'), ('telefone', '81 99999.9999'), ('celular', '00000000000')])

In [16]:
!pip install psycopg2

Processing /home/gileno/.cache/pip/wheels/7e/5b/53/30085c62689dcfce50c8f40759945a49eb856af082e9ebf751/psycopg2-2.8.4-cp36-cp36m-linux_x86_64.whl
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.4

In [17]:
banco = dataset.connect('postgresql://ensinar:ensinar@138.197.220.151/ensinar')

In [18]:
imoveis = banco['imoveis'].find()

In [19]:
for i in imoveis:
    print(i)

In [20]:
imovel = {
    'quartos': 2,
    'valor': 1000000
}
banco['imoveis'].insert(imovel)

True

In [21]:
imoveis = banco['imoveis'].find()
for i in imoveis:
    print(i)

OrderedDict([('id', 1), ('valor', 1000000), ('quartos', 2)])

In [22]:
imovel = {
    'quartos': 2,
    'valor': 1000000,
    'banheiros': 1
}
banco['imoveis'].insert(imovel)

True

In [23]:
imoveis = banco['imoveis'].find()
for i in imoveis:
    print(i)

OrderedDict([('id', 1), ('valor', 1000000), ('quartos', 2), ('banheiros', None)])
OrderedDict([('id', 2), ('valor', 150000), ('quartos', 3), ('banheiros', None)])
OrderedDict([('id', 3), ('valor', 2000000), ('quartos', 5), ('banheiros', None)])
OrderedDict([('id', 4), ('valor', 1000000), ('quartos', 2), ('banheiros', 1)])

In [24]:
banco['imoveis'].find_one(id=2)

OrderedDict([('id', 2),
             ('valor', 150000),
             ('quartos', 3),
             ('banheiros', None)])

In [25]:
banco['imoveis'].find(valor=150000)

In [26]:
imoveis = banco['imoveis'].find(valor=150000)

In [27]:
imoveis

In [28]:
next(imoveis)

OrderedDict([('id', 2),
             ('valor', 150000),
             ('quartos', 3),
             ('banheiros', None)])

In [29]:
next(imoveis)

StopIteration:

In [30]:
def gerar_sql(tabela, **kwargs):
    print(tabela)
    print(kwargs)

In [31]:
gerar_sql('imoveis')

imoveis
{}

In [32]:
gerar_sql('imoveis', valor=10, id=2)

imoveis
{'valor': 10, 'id': 2}

In [33]:
params = {
    'valor': 10,
    'id': 10
}

In [34]:
gerar_sql('imoveis', **params)

imoveis
{'valor': 10, 'id': 10}

In [38]:
def gerar_sql(tabela, **kwargs):
    sql = f'select * from {tabela}'
    if kwargs:
        where = ' and '.join([f'{chave} = {valor}' for chave, valor in kwargs.items()])
        sql = f'{sql} where {where}'
    return sql

In [39]:
gerar_sql('imoveis', valor=1, oi=2)

'select * from imoveis where valor = 1 and oi = 2'

In [40]:
info.items()

odict_items([('id', 3), ('nome', 'joao'), ('email', 'j@j.com'), ('telefone', '81 99999.9999'), ('celular', '00000000000')])

In [41]:
gerar_sql('imoveis')

'select * from imoveis'

In [45]:
tabela = banco['imoveis']

In [47]:
consulta = banco['imoveis'].find(tabela.table.columns.valor > 150000)
for c in consulta:
    print(c)

OrderedDict([('id', 1), ('valor', 1000000), ('quartos', 2), ('banheiros', None)])
OrderedDict([('id', 3), ('valor', 2000000), ('quartos', 5), ('banheiros', None)])
OrderedDict([('id', 4), ('valor', 1000000), ('quartos', 2), ('banheiros', 1)])

In [48]:
tabela.table.columns.valor > 150000