In [1]:
!pip install nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
     |████████████████████████████████| 1.5MB 630kB/s eta 0:00:01
Requirement already satisfied: six in /home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages (from nltk) (1.13.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-cp36-none-any.whl size=1449908 sha256=ad45bfad670ce9537f90eea7783570a8b0d76de0dbc3652b9e5ee491cec50a12
  Stored in directory: /home/gileno/.cache/pip/wheels/96/86/f6/68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.4.5

In [2]:
from nltk import download

In [5]:
download('stopwords')

[nltk_data] Downloading package stopwords to /home/gileno/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
from nltk.corpus import stopwords

In [8]:
stopwords_pt = stopwords.words('portuguese')

In [9]:
stopwords_pt[:10]

['de', 'a', 'o', 'que', 'e', 'é', 'do', 'da', 'em', 'um']

In [10]:
import pandas as pd

/home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [11]:
dados = pd.read_json('../dados/gilenofilho.json')

In [12]:
dados.head()

                                                text   category
0  Olá pessoal, esta é a parte III da série sobre...  tutoriais
1  Obs: No final do texto tem alguns links e pale...      utils
2  Olá pessoal, a algum tempo eu fechei as inscri...     cursos
3  Uma das coisas mais interessantes do framework...  tutoriais
4  Desde que a biblioteca \n se tornou bastante p...  tutoriais

In [13]:
len(dados)

27

In [14]:
dados['category'].unique()

array(['tutoriais', 'utils', 'cursos', 'palestras'], dtype=object)

In [15]:
dados['category'].value_counts()

tutoriais    12
cursos        6
palestras     5
utils         4
Name: category, dtype: int64

In [16]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split

In [17]:
count_vect = CountVectorizer(stop_words=stopwords_pt)

In [19]:
count_vect.fit_transform(dados['text']).toarray()

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 2, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
count_vect.fit_transform(dados['text']).toarray().shape

(27, 2158)

In [21]:
dados_texto = pd.DataFrame(
    count_vect.fit_transform(dados['text']).toarray(),
    columns=count_vect.get_feature_names()
)

In [22]:
dados_texto.head()

,05,09,10,11,15,160,17,176450,18,190,...,época,êxito,ótima,ótimo,últimas,último,últimos,única,único,útil
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
for coluna in dados_texto.columns:
    if coluna.isdigit():
        del dados_texto[coluna]

In [26]:
dados_texto.head()

,1b58b43e7b1d13eabfaa,1myprk0ld4l4dbkpaiw2brkdfx_5tcaqh7nqojfrk,1ª,20wxpython,33º,35º,373fh7evs0w,4394130cfa49,6º,889ed38e30ba,...,época,êxito,ótima,ótimo,últimas,último,últimos,única,único,útil
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [29]:
'1' in set('12345')

True

In [33]:
for coluna in dados_texto.columns:
    if set(coluna).intersection('1234567890'):
        del dados_texto[coluna]

In [34]:
dados_texto.head()

,abaixo,abertura,abnt,abrir,abstratas,acaba,acabar,acabei,academia,acadêmica,...,época,êxito,ótima,ótimo,últimas,último,últimos,única,único,útil
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [35]:
X = dados_texto
Y = dados['category']

In [36]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
x_treino, x_teste, y_treino, y_teste = train_test_split(X, Y, test_size=0.3, stratify=Y)
modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)

0.8888888888888888

In [44]:
novo_texto = '''
Uma das coisas mais interessantes do framework Django é sem dúvidas o seu ORM. E o que o torna interessante é a sua simplicidade e objetividade quando se utiliza os Lookups para realizar consultas simples e até as complexas que envolvem join's.
Neste artigo irei explorar algumas coisas básicas para quem está iniciando mas também irei mostrar casos de uso mais avançados como uso de funções próprias do banco de dados. Para demonstrar as consultas irei utilizar uma modelagem simples para uma aplicação de atividades realizadas, os modelos estão abaixo:
'''

In [45]:
novo_texto = count_vect.fit_transform([novo_texto])

In [47]:
novo_texto.toarray().shape

(1, 41)

In [52]:
dados_texto.head()

,abaixo,abertura,abnt,abrir,abstratas,acaba,acabar,acabei,academia,acadêmica,...,época,êxito,ótima,ótimo,últimas,último,últimos,única,único,útil
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [53]:
df_novo = pd.DataFrame(columns=dados_texto.columns)

In [57]:
df_novo = df_novo.append(pd.DataFrame(novo_texto.toarray(), ))

In [58]:
df_novo.tail()

,abaixo,abertura,abnt,abrir,abstratas,acaba,acabar,acabei,academia,acadêmica,...,31,32,33,34,35,36,37,38,39,40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0

In [60]:
dados_texto.head()

,abaixo,abertura,abnt,abrir,abstratas,acaba,acabar,acabei,academia,acadêmica,...,época,êxito,ótima,ótimo,últimas,último,últimos,única,único,útil
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [61]:
len(dados_texto.columns)

2103

In [63]:
novo_texto = '''
Uma das coisas mais interessantes do framework Django é sem dúvidas o seu ORM. E o que o torna interessante é a sua simplicidade e objetividade quando se utiliza os Lookups para realizar consultas simples e até as complexas que envolvem join's.
Neste artigo irei explorar algumas coisas básicas para quem está iniciando mas também irei mostrar casos de uso mais avançados como uso de funções próprias do banco de dados. Para demonstrar as consultas irei utilizar uma modelagem simples para uma aplicação de atividades realizadas, os modelos estão abaixo:
'''
novo_texto = count_vect.fit_transform([novo_texto])
df_novo = pd.DataFrame(columns=dados_texto.columns)
df_novo = df_novo.append(
    pd.DataFrame(novo_texto.toarray(), columns=count_vect.get_feature_names())
)

/home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [66]:
modelo.predict(df_novo.fillna(0))

array(['tutoriais'], dtype='<U9')

In [69]:
novo_texto = '''
Hoje em dia eu vejo muitos programadores começarem por cursos técnicos e/ou através da simples curiosidade executada em buscas no google. Isso é fantástico, pois programação não deveria ser apenas para universitários de cursos de ciência da computação e correlatos, acredito que programação deveria ser uma matéria básica como matemática, ou talvez um dos tópicos desta disciplina.
Entretanto eu tenho visto um problema nesse cenário: os programadores estão desvalorizando demais a universidade, estão cometendo o mesmo erro que alguns acadêmicos mais conservadores. Da mesma forma que eu sou contra fazer pesquisa, gerar conhecimento e não entregar algo a sociedade, seja em forma de produto ou conclusões/previsões, também não concordo em partir para o mercado sem pesquisa, sem uma base de conhecimento necessária para gerar algo interessante, algo inovador.
Eu entrei na universidade em até , cursei normalmente a universidade, isso foi muito bom pois me deu uma base significativa, e eu devo muito a qualidade do meu curso. Após esse semestre eu fiquei mais longe distante do curso por motivos pessoais e porque comecei a trabalhar mais intensamente.
'''
novo_texto = count_vect.fit_transform([novo_texto])
df_novo = pd.DataFrame(columns=dados_texto.columns)
df_novo = df_novo.append(
    pd.DataFrame(novo_texto.toarray(), columns=count_vect.get_feature_names())
)
modelo.predict(df_novo.fillna(0))

/home/gileno/workspace/cursos/curso-ensinar/venv/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

array(['utils'], dtype='<U9')